.containerPrincipal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid blueviolet;
    padding: 40px;
    background-color: white;
  }
  
  .containerSecundary {
    text-align: center;
  }
  
  .submitbtn {
    margin-top: 10%;
  }

  .containerSecundary .row>* {
    width: 100%;
}
